.left-container {
    display: inline-block;
    height: 91%;
    width: 23%;
    vertical-align: top;
    font-family: "Segoe UI", arial, sans-serif;
    font-size: 0.9em;
    font-weight: 350;
    color: #292827;
    box-shadow: 3px 0px 4px -1px #e5e4e3;

    .side-bar-head {
        height: 12.1%;
        width: 100%;
        text-align: left;

        .side-bar-button {
            margin-top: 10%;
            margin-left: 10%;
            font-size: larger;
            font-weight: 100;
            border: none;
            background-color: white;
        }
    }

    .total-list {
        height: 80.7%;

        .content-list {
            max-height: 90.7%;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .content-list::-webkit-scrollbar {
            width: 6.6px;
        }

        .content-list::-webkit-scrollbar-thumb {
            background-color: #edebe9;
            border-radius: 8px;
        }

        .add-category {
            display: inline-block;
            height: 10%;
            width: 76.6%;

            .plus-icon {
                display: inline-block;
                height: 100%;
                width: 25%;
                // margin-left: 4%;
                text-align: center;
                background-color: white;
                font-size: 1.1em;

                i {
                    margin-top: 26%;
                    color: #2564cf;
                }
            }

            input {
                display: inline-block;
                width: 75%;
                height: 100%;
                background-color: inherit;
                vertical-align: top;
                border: none;
                outline: none;
            }

            input::placeholder {
                color: #2564cf;
            }

            input:focus::-webkit-input-placeholder {
                color: gray;
            }
        }

        .add-category:hover {
            .plus-icon,
            input {
                background-color: #f5f5f5;
            }
        }

        .create-group {
            display: inline-block;
            height: 10%;
            width: 23.4%;
            vertical-align: top;

            .create-group-button {
                width: 100%;
                height: 100%;
                text-align: center;
                font-size: 1.3em;
                background-color: white;
                border: none;
            }

            .create-group-button:hover {
                background-color: #f5f5f5;
                cursor: pointer;
            }
        }
    }

    .side-bar-footer {
        height: 8%;
        width: 100%;
        margin-top: 0%;

        .side-bar-footer-icon {
            display: inline-block;
            height: 100%;
            width: 20%;
            text-align: center;
            font-size: 1.1em;

            i {
                margin-top: 20%;
            }
        }

        .side-bar-footer-icon:last-child {
            color: #549ce8;
        }

        .side-bar-footer-icon:hover {
            background-color: #f5f5f5;
        }
    }
}
