.content-list {
    max-height: 90.7%;
    overflow-y: auto;
    overflow-x: hidden;

    .content-hover,
    .selected-category {
        padding: 4.8% 8.2%;

        .side-container-icon,
        .side-container-content,
        .side-container-count {
            display: inline-block;
            margin-left: 1.5%;
        }

        .side-container-icon {
            color: #292827;
            font-size: 1.1em;
        }

        .side-container-content {
            margin-left: 6.5%;
            width: 74%;
        }

        .side-container-count {
            width: 8%;
            text-align: right;
        }
    }

    .selected-category {
        border-left: medium solid #2564cf;
        background-color: #eff6fc;
        font-weight: 500;
    }

    .content-hover:hover {
        background-color: #f5f5f5;
    }

    .content-hover:hover div {
        background-color: #f5f5f5;
    }

    .break-category {
        width: 85%;
        margin: 3.5% 6%;
        border-bottom: 1.2px solid #c8c6c6;
    }
}

.content-list::-webkit-scrollbar {
    width: 6.6px;
}

.content-list::-webkit-scrollbar-thumb {
    background-color: #edebe9;
    border-radius: 8px;
}
