<div id="content-list" class="content-list">
    <ng-container *ngFor="let category of categories">
        <div (click)="selectCategory(category)"
            [ngClass]="(category.id == selectedCategory.id)? 'selected-category':'content-hover'">
            <div class="side-container-icon">
                <i class="{{ category.iconClass }}"></i>
            </div>
            <div class="side-container-content">{{ category.name }}</div>
            <div *ngIf="category.count" class="side-container-count">
                {{ category.count }}
            </div>
        </div>
        <div *ngIf="category.id == 5" class="break-category"></div>
    </ng-container>
</div>
