<div class="top-nav">
    <div class="side-nav">
        <i class="fa fa-th"></i>
    </div>
    <div class="to-do">
        <a href="">To Do</a>
    </div>
    <div class="search-bar">
        <div class="search-box">
            <button class="search-button">
                <i class="fa fa-search"></i>
            </button>
            <input id="search" type="search" class="search" onfocus="this.placeholder='search'"
                onblur="this.placeholder=''">
        </div>
    </div>
    <div routerLink="/settings" routerLinkActive="active" class="setting">
        <i class="fa fa-gear"></i>
    </div>
    <div class="help">
        <i class="fa fa-question"></i>
    </div>
    <div class="whats-new">
        <i class="fa fa-bullhorn"></i>
    </div>
    <div class="user">
        <i class="fa fa-user-circle"></i>
    </div>
</div>