.middle-container-with-left,
.middle-with-left-and-right-container,
.middle-container-with-right,
.middle-container {
    display: inline-block;
    height: 91%;
    width: 76.8%;
    background-color: #faf9f8;
    vertical-align: top;
    font-family: "Segoe UI", arial, sans-serif;

    .middle-container-header {
        width: 92%;
        height: 13%;
        margin: 1.5% 4.5%;
        margin-bottom: 2.3%;

        .middle-container-sub-header {
            width: 100%;
            height: 66%;

            .sub-header-title {
                display: inline-block;
                width: 60%;
                vertical-align: top;

                .title,
                .icon {
                    display: inline-block;
                    font-size: 1.25em;
                    font-weight: 500;
                    margin: 3% 0.4%;
                    vertical-align: middle;
                }

                .title {
                    max-width: 87%;
                    overflow: auto;
                }

                .title::-webkit-scrollbar {
                    display: none;
                }

                .display-side-bar {
                    display: inline-block;
                    font-size: 1.3em;
                    border: none;
                    background-color: #faf9f8;
                }

                .list-option-menu {
                    width: 7%;
                    height: 50%;
                    background-color: #faf9f8;
                    border: none;
                }

                .list-option-menu:hover {
                    background-color: #fdfdfd;
                }
            }

            .sub-header-options {
                display: inline-block;
                width: 39%;
                text-align: right;

                button {
                    font-size: 0.9em;
                    padding: 1.5% 4%;
                    margin: 6% 0%;
                    border: none;
                    font-size: 0.9em;
                    color: #737373;
                    background-color: #faf9f8;
                }

                button:last-child {
                    margin-left: 10%;
                    margin-right: 4%;
                }

                button:hover {
                    background-color: #fdfdfd;
                }
            }
        }

        .header-date {
            font-size: 0.77em;
            color: #8f8f8e;
        }
    }

    .main-background {
        width: 100%;
        height: 78%;

        .task-setting {
            border-radius: 8px;
            width: 92%;
            margin: 0% 4%;
            height: 22.2%;
            background-color: white;
            box-shadow: 0.5px 0.5px 3.5px #dad9d8;

            .add-task {
                height: 53.6%;
                border-bottom: #e1dfdd;
                border-radius: 8px;

                button {
                    width: 7.5%;
                    height: 100%;
                    font-size: 1.6em;
                    color: #2564cf;
                    background-color: #ffffff;
                    border: none;
                    border-radius: 6px;
                }

                input {
                    width: 90%;
                    height: 100%;
                    vertical-align: top;
                    border: none;
                    outline: none;
                    border-radius: 6px;
                }

                input::placeholder {
                    color: #2564cf;
                }

                input:focus::-webkit-input-placeholder {
                    color: gray;
                }
            }

            .task-option {
                height: 46.3%;
                background-color: #faf9f8;
                border-radius: 1px;
                border-bottom: #e1dfdd;

                .options {
                    display: inline-block;
                    width: 27%;

                    .due-date,
                    .remaind-me,
                    .repeat {
                        display: inline-block;
                        margin: 0.2em 0.3em;
                        padding: 0.3em 0.5em;
                        border-radius: 2.5px;
                        font-size: 100%;
                        background-color: #faf9f8;
                        color: #737373;
                    }

                    .due-date {
                        margin-left: 1em;
                    }
                }

                .add-button {
                    display: inline-block;
                    width: 72%;
                    height: 100%;
                    vertical-align: top;
                    text-align: right;

                    button {
                        margin: 0em 0.9em;
                        margin-top: 0.5em;
                        padding: 0.3em 0.8em;
                        color: rgb(145, 144, 144);
                        background-color: white;
                        border-radius: 0px;
                        border: 0.5px solid #e1dfdd;
                    }
                }
            }
        }
    }
}

.middle-container {
    width: 100%;
}
.middle-with-left-and-right-container {
    width: 49.2%;
}
.middle-container-with-right {
    width: 71.8%;
}
