<div [ngClass]="taskContainerStyle">
    <div class="middle-container-header">
        <div class="middle-container-sub-header">
            <div class="sub-header-title">
                <button *ngIf="!isSideNavVisible" (click)="displaySideBar()" id="display-side-bar"
                    class="display-side-bar">
                    <i class="fa fa-navicon"></i>
                </button>
                <div *ngIf="isSideNavVisible" id="main-background-icon" class="icon">
                    <i class={{iconClass}}></i>
                </div>
                <div id="main-background-title" class="title">{{name}}</div>
                <button class="list-option-menu">
                    <i class="fa fa-ellipsis-h"></i>
                </button>
            </div>
            <div class="sub-header-options">
                <button class="sort"><i class="fa fa-filter"></i> Sort</button>
                <button class="suggestions"><i class="fa fa-lightbulb-o"></i> Suggestions</button>
            </div>
        </div>
        <div class="header-date" id="header-date">
        </div>
    </div>
    <div class="main-background">
        <div class="task-setting">
            <div class="add-task">
                <button>
                    <i class="fa fa-genderless"></i>
                </button>
                <input id="add-task" [(ngModel)]="taskName" type="text" (keyup.enter)="addTask()"
                    placeholder="Add a task">
            </div>
            <div class="task-option">
                <div class="options">
                    <div class="due-date">
                        <i class="fa fa-calendar-o"></i>
                    </div>
                    <div class="remaind-me">
                        <i class="fa fa-bell-o"></i>
                    </div>
                    <div class="repeat">
                        <i class="fa fa-retweet"></i>
                    </div>
                </div>
                <div class="add-button">
                    <button (click)="addTask()">Add</button>
                </div>
            </div>
        </div>
        <app-task-list [tasks]="tasks"></app-task-list>
    </div>
</div>